{% extends 'layout.html' %}

{% block body %}
  <h1>About Spanish Daily</h1>
  <span>Spanish Daily is a service built to send you Spanish Article related to your interests and reading level every single day.</span>
  <br>
  <p>Reading Spanish every day will help you build your vocabulary and grammar through consistent immersion and context clues. As an added bonus, it will help you keep up with the Spanish world!</p>
  <br>
  <br>
  <h3>How does it work?</h3>
  <p>Spanish Daily evalutes the 100 most relevant articles from Spanish news outlets. It evaluates the text of each article and assigns it a ranking from <em>Very Easy</em> to <em>Very Confusion</em>.
  While we will try to send you the most accurate articles, depending on the topic there won't always be a relevant article in your selected difficulty, espeically <em>Easy</em> or <em>Fairly Easy</em> difficulties.
  If this happens, you will recieve the closest article to your selected difficulty. We will make sure to let you know if your article happens to be more advanced than you were hoping for! Who knows, maybe you'll surprise yourself
  with how much you know!
  </p>
{% endblock %}
