{% extends 'layout.html' %}

{% block body %}
  <h1>About Spanish Daily</h1>
  <span>Spanish Daily is a service built to send you Spanish Article related to your interests and reading level every single day.</span>
  <br>
  <p>Reading Spanish every day will help you build your vocabulary and grammar through consistent immersion and context clues. As an added bonus, it will help you keep up with the Spanish world!</p>
  <br>
  <br>
  <h3>How does it work?</h3>
  <p>Spanish Daily evalutes the 100 most relevant articles from Spanish news outlets. It evaluates the text of each article and assigns it a ranking from <em>Easy</em> to <em>Fluent</em>.
  </p>
  <hr>

  <h3>Can I change my settings?</h3>
  <p>Yes! You can update your desired settings any time in the <a href="/profile">'Profile'</a> page.
  </p>
  <hr>

  <h3>Is it free?</h3>
  <p>Spanish Daily is 100% free. We don't sell your data, and we don't charge for the service.
    <br><br>
    If you'd like to donate to support the service, you can venmo <a href='https://venmo.com/code?user_id=3729491448825848534' target="_blank">@ReadSpanishDaily</a>
  </p>
  <hr>
    <h3>I have an idea for the site, how can I reach the creators?</h3>
  <p>We welcome community feedback, you are who we build this for after all!
    <br><br>
    If you have any ideas, please feel free to email <a href="mailto:daily-article@readspanishdaily.com" target="_blank">daily-article@readspanishdaily.com</a> with subject "Feedback".
  </p>

{% endblock %}
